.highlight {
  border-bottom: var(--border-hightlight-hover);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--border-color);
  margin: 0.5rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}
