h2 {
  margin: 30px 0;
  width: max-content;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width: 560px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
